# --------------------------
# System
# --------------------------

*~
*#*
._*
\#*
*.bak
*.tmp
*.swp
*.pid
.DS_Store

# --------------------------
# Git
# --------------------------

.gitconfig

# --------------------------
# Node
# --------------------------

.npm
/node_modules
npm-debug.log

# --------------------------
# Project
# --------------------------

.idea
.grunt
.idea_modules/
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace

cache
