# --------------------------
# System
# --------------------------

*~
*#*
._*
\#*
*.bak
*.tmp
*.swp
*.pid
.DS_Store

# --------------------------
# Git
# --------------------------

.gitconfig
.git

# --------------------------
# Node
# --------------------------

.npm
/node_modules
npm-debug.log
package-lock.json

# --------------------------
# Project
# --------------------------

*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
.idea
.eslintcache
.grunt
.idea_modules/
phantomjsdriver.log
cache
config.local.js
!/index.js
build
*.gen.js
*.gen.d.js
*.gen.ts
*.gen.d.ts

test.ts
test2.ts
